:80 {
	handle /vehiclepositions.pb {
		reverse_proxy gobble:8080
	}

	handle /tripupdates.pb {
		reverse_proxy gobble:8080
	}

	handle_path /daily-bus-data/* {
		root * /srv/data/daily-bus-data
		file_server browse
	}
}
