{$SITE_ADDRESS:80} {
	handle /vehiclepositions.pb {
		reverse_proxy gobble:8080
	}

	handle /tripupdates.pb {
		reverse_proxy gobble:8080
	}

	handle /daily-bus-data/* {
		reverse_proxy data-browser:8080
	}
}
